<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Drakon</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link href="/css/wallet/recharge_styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/drakon-mark.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .currency-chooser {
            display: inline-flex;
            align-items: center;
            gap: 4px;
            padding: 3px;
            background: #eaf6ff;
            border: 1px solid #b9ddfb;
            border-radius: 999px;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.04);
        }

        .currency-option {
            min-width: 58px;
            height: 28px;
            border: 0;
            border-radius: 999px;
            background: transparent;
            color: #55708c;
            font-size: 12px;
            font-weight: 700;
            cursor: pointer;
            transition: all 0.18s ease;
        }

        .currency-option.active {
            color: #ffffff;
            background: linear-gradient(135deg, #2098e8, #5abdf4);
            box-shadow: 0 4px 10px rgba(32, 152, 232, 0.22);
        }

        .currency-help {
            margin-top: 8px;
            color: #55708c;
            font-size: 12px;
            line-height: 1.4;
        }

        .amount-currency-symbol {
            min-width: 24px;
            color: #2098e8;
            font-weight: 800;
            text-align: center;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
        integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
        </script>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-67caa467="" class="mian">
            <!-- Header  -->
            <div data-v-106b99c8="" data-v-67caa467="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/mian'">
                    <div data-v-106b99c8="" class="bank c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Deposit </div>
                <div data-v-106b99c8="" class="navbar-right">
                    <div data-v-11ffe290="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp"
                                style="width:.66667rem;height:.66667rem">
                        </i>
                    </div>
                </div>
            </div>
            <!-- Header  -->

            <div data-v-67caa467="" class="selectBox">
                <div data-v-67caa467="" class="colorBox"></div>

                <div data-v-67caa467="" class="txtBox c-row c-row-middle">

                    <div data-v-67caa467="" class="txt p-r-5"> Total Balance: </div>

                    <div data-v-67caa467="" class="c-row c-row-middle">
                        <!-- Money Amount  -->
                        <div data-v-67caa467="" class="money">
                            <div data-v-67caa467="">
                                ₹ <span data-v-67caa467="" class="p-l-5" id="money_amount_display">Loading...</span>
                            </div>
                        </div>
                        <!-- Money Amount -->

                        <!-- Reload Button -->
                        <div data-v-67caa467="" class="van-image img m-l-10" style="width: 18px; height: 18px;"
                            id="reload_money_amount_button">
                            <img src="/images/reload.png" class="van-image__img">
                        </div>
                        <!-- Reload Button -->
                    </div>

                    <div data-v-67caa467="" class="icon"></div>
                </div>

                <!-- Payment Methods -->
                <div data-v-67caa467="" class="pay-box">
                    <!-- Payment Methods Label -->
                    <div data-v-67caa467="" class="title c-row c-row-middle">
                        <div data-v-67caa467="" class="van-image" style="width: 20px; height: 20px;">
                            <img src="/images/htmls2.png" class="van-image__img">
                        </div>
                        <span data-v-67caa467="" class="m-l-10"> Payment Method ( Bep 20 ) </span>
                    </div>
                    <!-- Payment Methods Label -->

                    <!-- Payment Methods Options -->
                    <div data-v-67caa467="" class="list c-row c-flex-warp m-t-10" id="payment_methods_options">
                        <div data-v-67caa467="" class="item action" type="manual_pay">
                            <img data-v-67caa467="" width="20px" height="20px" src="/images/recharge_TRANSFER_red.webp"
                                class="img">
                            <div data-v-67caa467="" class="name">USDT</div>

                            <div data-v-67caa467="" class="icon">
                                <i data-v-67caa467="" class="van-icon van-icon-success"
                                    style="color: rgb(255, 255, 255); font-size: 14px;"> </i>
                            </div>
                        </div>

    <!----                    <div data-v-67caa467="" class="item" type="wow_pay">
                            <img data-v-67caa467="" width="20px" height="20px" src="/images/recharge_TRANSFER_red.webp"
                                class="img">
                            <div data-v-67caa467="" class="name">Wow Pay</div>

                            <div data-v-67caa467="" class="icon">
                                <i data-v-67caa467="" class="van-icon van-icon-success"
                                    style="color: rgb(255, 255, 255); font-size: 14px;"> </i>
                            </div>
                        </div>

                        <div data-v-67caa467="" class="item" type="manual_pay">
                            <img data-v-67caa467="" width="20px" height="20px" src="/images/recharge_TRANSFER_red.webp"
                                class="img">
                            <div data-v-67caa467="" class="name">Manual Deposit</div>

                            <div data-v-67caa467="" class="icon">
                                <i data-v-67caa467="" class="van-icon van-icon-success"
                                    style="color: rgb(255, 255, 255); font-size: 14px;"> </i>
                            </div>
                        </div>

                        <div data-v-67caa467="" class="item" type="usdt_manual">
                            <img data-v-67caa467="" width="20px" height="20px" src="/images/recharge_TRANSFER_red.webp"
                                class="img">
                            <div data-v-67caa467="" class="name">USDT Manual</div>

                            <div data-v-67caa467="" class="icon">
                                <i data-v-67caa467="" class="van-icon van-icon-success"
                                    style="color: rgb(255, 255, 255); font-size: 14px;"> </i>
                            </div>
                        </div>
                         <div data-v-67caa467="" class="item disabled" type="usdt">
                            <img data-v-67caa467="" width="20px" height="20px" src="/images/recharge_TRANSFER_red.webp"
                                class="img">
                            <div data-v-67caa467="" class="name">USDT</div>
                            <div data-v-67caa467="" class="coming_soon">coming soon</div>

                            <div data-v-67caa467="" class="icon">
                                <i data-v-67caa467="" class="van-icon van-icon-success"
                                    style="color: rgb(255, 255, 255); font-size: 14px;"> </i>
                            </div>
                        </div> -->
                    </div>
                    <!-- Payment Methods Options -->
                </div>
                <!-- Payment Methods -->

                <div data-v-67caa467="" class="pay-box">

                    <div data-v-67caa467="">
                        <div data-v-67caa467="">
                            <!-- Money Amount Field Label -->
                            <div data-v-67caa467="" class="title c-row c-row-middle c-row-between">
                                <div data-v-67caa467="" class="c-row">
                                    <div data-v-67caa467="" class="van-image" style="width: 20px; height: 20px;">
                                        <img src="/images/htmls2.png" class="van-image__img">
                                    </div>
                                    <span data-v-67caa467="" id="currency_label" class="m-l-10">Select amount of USDT</span>
                                </div>
                            </div>
                            <!-- Money Amount Field Label -->

                            <!-- Money Amount Field Input -->
                            <div data-v-67caa467="" class="box numberSize c-row c-row-between c-row-middle p-l-10">
                                <div data-v-67caa467="" id="inr_input" class="fuhao amount-currency-symbol">$</div>
                                <div data-v-67caa467="" class="input van-cell van-field">
                                    <div class="van-cell__value van-cell__value--alone van-field__value">
                                        <div class="van-field__body">
                                            <input type="text" id="money_amount_input" value="10" inputmode="decimal"
                                                name="amount" placeholder="Enter USDT amount"
                                                class="van-field__control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-67caa467="" class="box numberSize c-row c-row-between c-row-middle p-l-10 m-t-10">
                                <div data-v-67caa467="" class="fuhao amount-currency-symbol">&#8377;</div>
                                <div data-v-67caa467="" class="input van-cell van-field">
                                    <div class="van-cell__value van-cell__value--alone van-field__value">
                                        <div class="van-field__body">
                                            <input type="text" id="money_amount_inr_input" value="980" inputmode="decimal"
                                                name="amount_inr" placeholder="INR equivalent"
                                                class="van-field__control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="currency-help" id="currency_conversion_note"></div>
                            <!-- Money Amount Field Input -->

                            <!-- Quick Money Amount Options -->
                            <div id="quick_money_options" data-v-67caa467=""
                                class="list m-t-10 c-row c-row-between c-flex-warp">
                                <div data-v-67caa467="" data-money="10" class="li action">
                                    <span data-v-67caa467="" class="number">$10</span>
                                </div>
                                <div data-v-67caa467="" data-money="50" class="li">
                                    <span data-v-67caa467="" class="number">$50</span>
                                </div>
                                <div data-v-67caa467="" data-money="100" class="li">
                                    <span data-v-67caa467="" class="number">$100</span>
                                </div>
                                <div data-v-67caa467="" data-money="500" class="li">
                                    <span data-v-67caa467="" class="number">$500</span>
                                </div>
                                <div data-v-67caa467="" data-money="1000" class="li">
                                    <span data-v-67caa467="" class="number">$1K</span>
                                </div>
                                <div data-v-67caa467="" data-money="5000" class="li">
                                    <span data-v-67caa467="" class="number">$5K</span>
                                </div>
                            </div>
                            <!-- Quick Money Amount Options -->

                            <!-- Notice And Information -->
                            <div data-v-67caa467="">
                                <div data-v-67caa467="" class="des">
                                    * The payment gateway offers an additional 5% bonus on First deposit.
                                </div>
                                <div data-v-67caa467="" class="des">
                                    If you transfer the wrong amount as instructed, the funds will be lost, and our
                                    company will not be held responsible! </div>
                                <div data-v-67caa467="" class="des">
                                    * Note: You must deposit the exact amount as instructed in the order. The system
                                    will automatically update the bonus funds.
                                </div>
                            </div>
                            <!-- Notice And Information -->

                            <!-- Deposit Amount Button -->
                            <div data-v-67caa467="" class="btn-list c-row c-row-center m-t-30">
                                <!---->
                                <div data-v-67caa467="" class="item flex-cover">

                                    <button data-v-67caa467=""
                                        class="next-btn van-button van-button--default van-button--normal van-button--block van-button--round"
                                        id="deposit_fund_btn">

                                        <div data-v-67caa467="" class="van-button__content">
                                            <span data-v-67caa467="" class="van-button__text">Deposit Fund</span>
                                        </div>
                                    </button>


                                </div>
                            </div>
                            <!-- Deposit Amount Button -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="previous_payment_background" id="previous_payment_popup">
        <div class="previous_payment_popup">
            <h3 class="previous_payment_popup_message">You have a pending payment left what do you want to do with that?
            </h3>
            <button class="pay_now" id="pay_now">Pay Now</button>
            <button class="cancel_payment" id="cancel_payment">Cancel and Create New Deposit</button>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>

    <script>
        let MoneyAmountDisplay = document.querySelector("#money_amount_display")
        let ReloadMoneyAmountButton = document.querySelector("#reload_money_amount_button")
        let MoneyAmountInput = document.querySelector("#money_amount_input")
        let MoneyAmountInrInput = document.querySelector("#money_amount_inr_input")
        let QuickMoneyOptions = document.querySelector("#quick_money_options")
        let DepositFundButton = document.querySelector("#deposit_fund_btn")
        let CurrencyConversionNote = document.querySelector("#currency_conversion_note")

        const USDT_TO_INR_RATE = 98
        const MINIMUM_USDT_AMOUNT = 10
        let inputMoney = MINIMUM_USDT_AMOUNT

        const sanitizeAmount = (value) => String(value || '').replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1')

        const formatUsdtAmount = (value) => {
            const amount = Number(value || 0)
            return Number.isInteger(amount) ? String(amount) : amount.toFixed(2).replace(/\.?0+$/, '')
        }

        const formatInrAmount = (value) => String(Math.round(Number(value || 0)))

        const usdtToInr = (amount) => Number(amount || 0) * USDT_TO_INR_RATE

        const inrToUsdt = (amount) => Number(amount || 0) / USDT_TO_INR_RATE

        const updateConversionNote = () => {
            CurrencyConversionNote.textContent = `1 USDT = ₹${USDT_TO_INR_RATE}`
        }

        const bindQuickMoneyOptions = () => {
            Array.from(QuickMoneyOptions.children).forEach((child) => {
                child.addEventListener("click", handleQuickMoney(child))
            })
        }

        const setDepositAmountFromUsdt = (amount) => {
            const usdtAmount = Number(amount || 0)
            inputMoney = usdtAmount
            MoneyAmountInput.value = amount === '' ? '' : formatUsdtAmount(usdtAmount)
            MoneyAmountInrInput.value = amount === '' ? '' : formatInrAmount(usdtToInr(usdtAmount))
            updateConversionNote()
        }

        const setDepositAmountFromInr = (amount) => {
            const inrAmount = Number(amount || 0)
            const usdtAmount = inrToUsdt(inrAmount)
            inputMoney = usdtAmount
            MoneyAmountInrInput.value = amount === '' ? '' : formatInrAmount(inrAmount)
            MoneyAmountInput.value = amount === '' ? '' : formatUsdtAmount(usdtAmount)
            updateConversionNote()
        }

        const alertMessage = (text) => {
            const msg = document.createElement('div');
            msg.setAttribute('data-v-1dcba851', '');
            msg.className = 'msg';

            const msgContent = document.createElement('div');
            msgContent.setAttribute('data-v-1dcba851', '');
            msgContent.className = 'msg-content v-enter-active v-enter-to';
            msgContent.style = '';
            msgContent.textContent = text;

            msg.appendChild(msgContent);
            document.body.appendChild(msg);

            setTimeout(() => {
                msgContent.classList.remove('v-enter-active', 'v-enter-to');
                msgContent.classList.add('v-leave-active', 'v-leave-to');

                setTimeout(() => {
                    document.body.removeChild(msg);
                }, 100);
            }, 1000);
        }


        const handleSetTotalBalance = async () => {
            MoneyAmountDisplay.textContent = "Loading..."

            try {
                const response = await axios.get('/api/webapi/GetUserInfo');
                const user = response?.data?.data

                if (user === null || user === undefined || user?.money_user === undefined || user?.money_user === null) {
                    throw Error("Something went wrong while fetching the user wallet balance!")
                }

                MoneyAmountDisplay.textContent = user?.money_user
            } catch (error) {
                console.log(error)
            }

        }

        const handleMoneyAmountInput = (event) => {
            const cleanValue = sanitizeAmount(event.target.value)
            event.target.value = cleanValue
            setDepositAmountFromUsdt(cleanValue)
            clearQuickMoneySelection()
        }

        const handleInrAmountInput = (event) => {
            const cleanValue = sanitizeAmount(event.target.value)
            event.target.value = cleanValue
            setDepositAmountFromInr(cleanValue)
            clearQuickMoneySelection()
        }

        const clearQuickMoneySelection = () => {
            Array.from(QuickMoneyOptions.children).forEach((child) => {
                child.classList.remove("action")
            })
        }

        const handleQuickMoney = (item) => (event) => {
            const amount = parseInt(item.getAttribute("data-money"))

            setDepositAmountFromUsdt(amount)

            clearQuickMoneySelection()

            item.classList.add("action")
        }

        const handleDepositFund = (event) => {
            event.preventDefault()
            if (!inputMoney || inputMoney < MINIMUM_USDT_AMOUNT) {
                alertMessage(`Money is required and it should be ${MINIMUM_USDT_AMOUNT} USDT or above!`)
                return
            }

            handleManualUSDTPaymentRequest(formatUsdtAmount(inputMoney))
        }

        const handleManualUSDTPaymentRequest = async (moneyAmount) => {
            window.location.href = `/wallet/paynow/manual_usdt?am=${moneyAmount}`
        }

        // Below code will run on Page Load 
        handleSetTotalBalance()
        setDepositAmountFromUsdt(MINIMUM_USDT_AMOUNT)
        bindQuickMoneyOptions()
        // --------------------------------

        // Even Listeners
        ReloadMoneyAmountButton.addEventListener("click", handleSetTotalBalance)

        MoneyAmountInput.addEventListener("input", handleMoneyAmountInput)
        MoneyAmountInrInput.addEventListener("input", handleInrAmountInput)

        DepositFundButton.addEventListener("click", handleDepositFund);

        /* Some Event Listeners added in handleCheckAndSelectPaymentMethod function */
        // --------------

    </script>
</body>

</html>
